.formContainer{
    position: relative;
    top:20%;
    left: 30%;
    border: 2px solid #eee;
    width: 700px;
    height: 400px;

}
.formContainer h4{
    text-align: center;
    margin: 30px;
}
.fieldInputBox{
    width: 600px;
    margin: 5px;
    position: relative;
    left:5%;
    border: 1px solid #ebe3e3;
    padding: 5px;
    
}
.SubmitBtn{
    position: relative;
    left: 6%;
    margin-top: 20px;
    
}
.SubmitBtn button{
    width: 600px;
    background-color: #134ee3;
    color: white;
    border: 1px solid #134ee3;
    padding: 5px;
}
