/* .popup {
    position: relative;
    left: 555px;
    padding-top: 200px;
    width: 0px;
    z-index: 100;
    background-color: white;
    height: 500px;
    border-bottom-right-radius: 6px;

  }
  
  .popup_inner {
    width: 772px;
    height: 375px;
    /* border: 1px solid #D7D7D7; 
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding-left: 10px;
    margin-top: -156px;
    margin-left: -500px;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  
  .popup h2 {
    font-size: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
  }
  
  .popup .form-group {
    margin-bottom: 20px;
  }
  
  .popup label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
  }
  
  .popup input[type="text"],
  .popup input[type="date"] {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .popup button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .popup button[type="submit"]:hover {
    background-color: #0069d9;
  }
  
  .popup button[type="submit"]:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .popup button[type="submit"]:disabled:hover {
    background-color: #ccc;
  }
  
  #dates{
    display:flex;
    width: 100%;
  }
  #dates > div{
    width: 50%;
  }
  #returnDate{
    margin-left: -170px;
  } */