#Table {
    position: fixed;
    top: 40%;
    left: 20%;
    height: 393px;
    /* width: 100% */
    width: 1000px;
    overflow: auto;
}

.Container h3 {
    text-align: center;
    padding: 20px;
    position: relative;
    left: 50%;
}

.ActionBtn {
    height: 30px;
    border: none;
    background-color: green;
    color: white;
    width: 80px;
    margin: 5px;
}
.RejectBtn{
    height: 30px;
    border: none;
    background-color: red;
    color: white;
    width: 80px;
    margin: 5px;
}

.AgeCategoryDropdown {
    position: fixed;
    left: 20%;
    top: 28%;
}

.dd-search {
    display: flex;
}

.searchDivStyle {
    position: fixed;
    left: 59%;
    top: 25%;
    margin-bottom: 45px;

}

.searchStyle {

    padding: 8px 10px;
    border-radius: 5px;
    outline: 0;
    border: 2px #eee solid;
    font-size: "100%";
    width: 400px;

}


.AgeCategoryDropdown .p-inputtext {
    margin-top: -3px;
    margin-left: 25px;
}

.AgeCategoryDropdown .p-dropdown {
    background: white;
    width: 150px;
    height: 40px;
    font-family: 'sans-serif';
    font-style: normal;
    margin-top: -10px;
    font-size: 14px;
    line-height: 19px;

}

.AgeCategoryDropdown {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* background: rgba(244, 244, 244, 0.8)  ; */
}

.AgeCategoryDropdown .pi-chevron-down:before {
    content: "\e902";
    color: #0070CD;
    padding-top: 10px;

}