#main-layout-block {
    /* margin-top: 5.7rem; */
    position: fixed;
    display: flex;
    height: 100%;
  }
  .right-container{
    display: flex;
    flex-direction: column;
    z-index: -1 !important;
  
  
  }
  
  .component-container{
    margin-top: 5rem;
   
  
  }
  .component-footer{
    position: fixed;
    bottom:0%;
    right:0%;
    font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  
  color: #515D6B;
  }
  